<!DOCTYPE html>
<html>
  <head>

    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/styles/styles.css">
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <!-- for autocomplete -->
    <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOcZOEW2Q07uQmpCDj4VCBanEW1yJerBM&libraries=places"></script> -->

  </head>
  <body>
    <div id="formWrapper" style="overflow-y:scroll;  overflow-x: hidden;">
    <!-- <form action="/submitForm" method="post" accept-charset="UTF-8"> -->
    <form>
      <div class = "label">Enter Starting point</div>
      <br>
      <input type="text" name="start" id="start" value="Zurich Oerlikon" placeholder="Starting Destination">
      <br>
      <!-- TODO: autocomplete -->
      <!-- <script>
        var input = document.getElementById('start');
        var autocomplete = new google.maps.places.Autocomplete(input);
      </script> -->
      <div class = "label">Enter Ending point</div>
      <br>
      <input type="text" name="end" id="end" value="Zurich Hardbruke" placeholder="Ending Destination">
      <br><br>
      <button type="button" onclick="return calcRoute()" class="submitBtn">Submit</button>
    </form>

    <!-- <p>Some slider</p>
    <input type="range" min="1" max="100" value="50" class="slider" id="slide1"> -->

  </div>



    <div id="map"></div>

    <!-- <button onclick="calcRoute()">Click me</button> -->
    <script>


var directionsService
var directionsDisplay
function initMap() {

 directionsService = new google.maps.DirectionsService();
 directionsDisplay = new google.maps.DirectionsRenderer();

  var mapOptions = {
    center: {lat: 47.3769, lng: 8.5417},
    zoom: 13
  }
  var map = new google.maps.Map(document.getElementById('map'), mapOptions);
  directionsDisplay.setMap(map);

  //calls the instructions
  directionsDisplay.setPanel(document.getElementById('formWrapper'));

}


function calcRoute() {
  var start = document.getElementById('start').value;
  var end = document.getElementById('end').value;
  var request = {
    origin: start,  // Haight.
    destination: end,  // Ocean Beach.
    travelMode: google.maps.TravelMode.TRANSIT,
    provideRouteAlternatives: true,
  };
  //congestion number that will be returned from func
  // var congestNum = 20;
  var block_to_insert ;
  var container_block ;

  var create = document.createElement("div");
  var selectLists = document.querySelectorAll("[data-route-index]");
  //for request
  var xhr = new XMLHttpRequest();

  directionsService.route(request, function(response, status) {
    if (status == 'OK') {

      //colour


      for (i=0; i<response["routes"].length; i++)
      {
        route = response["routes"][i];

        console.log(route);
        for(j=0; j<route.legs.length;j++)
        {
          if(route.legs[j].start_address.includes("8005 Zürich, Switzerland")||
            route.legs[j].end_address.includes("8005 Zürich, Switzerland"))
          {
            var arrive = route.legs[j].arrival_time.text
            var arrival_time_encoded = arrive.replace(":", "-")
            $.ajax({
              url:"http://localhost:5000/prediction",
              leg: route.legs[j],
              routeno:i,
              data:{"arrival_time":arrival_time_encoded},
              success:function(response){
                setTimeout(this, 1000);
                console.log("success");
                console.log(response);
                list = document.querySelectorAll("[data-route-index]");
                console.log(list);
                console.log("Route number", this.routeno);
                if(response<30)
                {

                    list[this.routeno].style.backgroundColor = "green";
                    //make new element with colour

                }

                else if(response>30 && response <80)
                {

                    list[this.routeno].style.backgroundColor = "yellow"
                  }

                else
                {
                    list[this.routeno].style.backgroundColor = "red"
                }

                  divs = list[this.routeno].querySelectorAll('div');
                  divs[divs.length-1].innerHTML += ', people present: '  + response;


                arrival_time = this.leg.arrival_time.text;

                console.log(arrival_time);
              },
              error:function()
              {
                console.log("error");
              }


            })
            //call localhost:5000/prediction with a parameter (time)
      //      xhr.open('GET', "http://localhost:5000/prediction?arrival_time='"+route.legs[j].arrival_time.text+"'", true);
        //    xhr.send(null);



          }
          // console.log(response.departure_time);
        }
      }


      //outside the for
      //
      // if(congestNum<30)
      // {
      //   var el = document.getElementById('formWrapper'),
      //   // Make a new div
      //   elChild = document.createElement('div');
      //
      //   // Give the new div some content
      //   elChild.innerHTML = 'Blue';
      //
      //   // Jug it into the parent element
      //   el.appendChild(elChild);
      // }
      //
      // else if(congestNum>30 && congestNum <80)
      // {
      //   var el = document.getElementById('formWrapper'),
      //   // Make a new div
      //   elChild = document.createElement('div');
      //
      //   // Give the new div some content
      //   elChild.innerHTML = 'Yellow';
      //
      //   // Jug it into the parent element
      //   el.appendChild(elChild);
      // }
      //
      // else {
      //   var el = document.getElementById('formWrapper'),
      //   // Make a new div
      //   elChild = document.createElement('div');
      //
      //   // Give the new div some content
      //   elChild.innerHTML = 'Red';
      //
      //   // Jug it into the parent element
      //   el.appendChild(elChild);
      // }
      //



      //put congestion
      directionsDisplay.setDirections(response);
      // console.log(response)

      //call the traversing thing
      // use .then to make it execute after the setDirections one

      }
  });
}

  function retrieveCongestion(response) {

  }


//removing some unnecessary elements
//// TODO:
// function removeElement(element) {
//      element.parentNode.removeChild(element);
// }
//
// removeElement(document.getElementsByClassName('warnbox-content'));


    </script>
    <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOcZOEW2Q07uQmpCDj4VCBanEW1yJerBM&libraries=places"></script> -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOcZOEW2Q07uQmpCDj4VCBanEW1yJerBM&callback=initMap"
    async defer></script>
  </body>
</html>
Chat Conversation End
Type a message...
