<!DOCTYPE html>
<html>
  <head>

    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/styles/styles.css">

    <!-- for autocomplete -->
    <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOcZOEW2Q07uQmpCDj4VCBanEW1yJerBM&libraries=places"></script> -->

  </head>
  <body>
    <div id="formWrapper" style="overflow-y:scroll;  overflow-x: hidden;">
    <!-- <form action="/submitForm" method="post" accept-charset="UTF-8"> -->
    <form>
      <div class = "label">Enter Starting point</div>
      <br>
      <input type="text" name="start" id="start" placeholder="Starting Destination">
      <br>
      <!-- TODO: autocomplete -->
      <!-- <script>
        var input = document.getElementById('start');
        var autocomplete = new google.maps.places.Autocomplete(input);
      </script> -->
      <div class = "label">Enter Ending point</div>
      <br>
      <input type="text" name="end" id="end" placeholder="Ending Destination">
      <br><br>
      <button type="button" onclick="return calcRoute()" class="submitBtn">Submit</button>
    </form>

    <p>Some slider</p>
    <input type="range" min="1" max="100" value="50" class="slider" id="slide1">

  </div>



    <div id="map"></div>

    <!-- <button onclick="calcRoute()">Click me</button> -->
    <script>


var directionsService
var directionsDisplay
function initMap() {

 directionsService = new google.maps.DirectionsService();
 directionsDisplay = new google.maps.DirectionsRenderer();
  // var haight = new google.maps.LatLng(37.7699298, -122.4469157);
  // var oceanBeach = new google.maps.LatLng(37.7683909618184, -122.51089453697205);
  var mapOptions = {
    center: {lat: 47.3769, lng: 8.5417},
    zoom: 13
  }
  var map = new google.maps.Map(document.getElementById('map'), mapOptions);
  directionsDisplay.setMap(map);

  //calls the instructions
  directionsDisplay.setPanel(document.getElementById('formWrapper'));

}


function calcRoute() {
  var start = document.getElementById('start').value;
  var end = document.getElementById('end').value;
  var request = {
    origin: start,  // Haight.
    destination: end,  // Ocean Beach.
    travelMode: google.maps.TravelMode.TRANSIT,
    provideRouteAlternatives: true,
  };
  //congestion number that will be returned from func
  var congestNum = 50;
  var block_to_insert ;
  var container_block ;

  directionsService.route(request, function(response, status) {
    if (status == 'OK') {
      for (i=0; i<response["routes"].length; i++)
      {
        route = response["routes"][i];

        console.log(route);
        for(j=0; j<route.legs.length;j++)
        {
          if(route.legs[j].start_address.includes("8005 Zürich, Switzerland")||
            route.legs[j].end_address.includes("8005 Zürich, Switzerland"))
          {
              
            // route.legs[j].arrival_time.text  =  route.legs[j].arrival_time.text  + '\n Congestion rate is ' + congestNum;
            // route.legs[j].arrival_time.text = route.legs[j].arrival_time.text +
            //make 3 colors for congestions with tresholds; <30 is empty
            //
            // congest will be a number with the congestion rate
            // switch (congestion <30) congestion >30 && <80 congestion > 80
            // 1. congestionNumber + append text saying "Not busy"
            //2. congestNum + append text "Mildly busy"
            //3. congestNum + append text "Very busy"
            //also put background colors on all of those ! (blue, yellow, red)
            //at the bottom: number of people currently at the station
            //OPTIONAL: make slider move for several days and display busy/not busy
            //based on that

            //this is for inserting the coloured elements
            //
            // block_to_insert = document.createElement( 'div' );
            // block_to_insert.innerHTML = 'JAVASCRIPT' ;
            //
            // container_block = document.getElementById( 'formWrapper' );
            // container_block.appendChild( block_to_insert );

            ///
            arrival_time = route.legs[j].arrival_time.text;

            console.log(arrival_time);
          }
          // console.log(response.departure_time);
        }
      }


      //put congestion
      directionsDisplay.setDirections(response);
      // console.log(response)

      //call the traversing thing
      // use .then to make it execute after the setDirections one

      }
  });
}

  function retrieveCongestion(response) {

      //for each in the routes array, look at each leg and rint the arrival time (text value)
      //departure_time, start_address (or location idk) and end_location


      // var spans = document.getElementsByTagName("span");
      // var timeFormat = /^([0-9]{2})\:([0-9]{2})\-([0-9]{2})\:([0-9]{2})$/
      //
      // for(i = 0; i < spans.length; i++)
      // {
      //   if(spans[i].attributes.jstcache !=undefined && timeFormat.test(spans[i].innerText) == true)
      //     {
      //       console.log(spans[i].innerText);
      //     }
      // }
  }


//removing some unnecessary elements
//// TODO:
// function removeElement(element) {
//      element.parentNode.removeChild(element);
// }
//
// removeElement(document.getElementsByClassName('warnbox-content'));


    </script>
    <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOcZOEW2Q07uQmpCDj4VCBanEW1yJerBM&libraries=places"></script> -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOcZOEW2Q07uQmpCDj4VCBanEW1yJerBM&callback=initMap"
    async defer></script>
  </body>
</html>
