<!DOCTYPE html>
<html>
  <head>

    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/styles/styles.css">

    <!-- for autocomplete -->
    <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOcZOEW2Q07uQmpCDj4VCBanEW1yJerBM&libraries=places"></script> -->

  </head>
  <body>
    <div id="formWrapper" style="overflow-y:scroll;  overflow-x: hidden;">
    <!-- <form action="/submitForm" method="post" accept-charset="UTF-8"> -->
    <form>
      <div class = "label">Enter Starting point</div>
      <br>
      <input type="text" name="start" id="start" placeholder="Starting Destination">
      <br>
      <!-- TODO: autocomplete -->
      <!-- <script>
        var input = document.getElementById('start');
        var autocomplete = new google.maps.places.Autocomplete(input);
      </script> -->
      <div class = "label">Enter Ending point</div>
      <br>
      <input type="text" name="end" id="end" placeholder="Ending Destination">
      <br><br>
      <button type="button" onclick="return calcRoute()" class="submitBtn">Submit</button>
    </form>

    <!-- <p>Some slider</p>
    <input type="range" min="1" max="100" value="50" class="slider" id="slide1"> -->

  </div>



    <div id="map"></div>

    <!-- <button onclick="calcRoute()">Click me</button> -->
    <script>


var directionsService
var directionsDisplay
function initMap() {

 directionsService = new google.maps.DirectionsService();
 directionsDisplay = new google.maps.DirectionsRenderer();
  
  var mapOptions = {
    center: {lat: 47.3769, lng: 8.5417},
    zoom: 13
  }
  var map = new google.maps.Map(document.getElementById('map'), mapOptions);
  directionsDisplay.setMap(map);

  //calls the instructions
  directionsDisplay.setPanel(document.getElementById('formWrapper'));

}


function calcRoute() {
  var start = document.getElementById('start').value;
  var end = document.getElementById('end').value;
  var request = {
    origin: start,  // Haight.
    destination: end,  // Ocean Beach.
    travelMode: google.maps.TravelMode.TRANSIT,
    provideRouteAlternatives: true,
  };
  //congestion number that will be returned from func
  var congestNum = 20;
  var block_to_insert ;
  var container_block ;

  var create = document.createElement("div");
  var selectLists = document.querySelectorAll("[data-route-index]");
  //for request
  var xhr = new XMLHttpRequest();

  directionsService.route(request, function(response, status) {
    if (status == 'OK') {

      //colour


      for (i=0; i<response["routes"].length; i++)
      {
        route = response["routes"][i];

        console.log(route);
        for(j=0; j<route.legs.length;j++)
        {
          if(route.legs[j].start_address.includes("8005 Zürich, Switzerland")||
            route.legs[j].end_address.includes("8005 Zürich, Switzerland"))
          {

            //call localhost:5000/prediction with a parameter (time)
            xhr.open('GET', "http://localhost:5000/prediction?arrival_time=Test&", true);
            xhr.send();

            route.legs[j].arrival_time.text  =  route.legs[j].arrival_time.text  + ', people present: '  + congestNum;

            if(congestNum<30)
            {
                route.legs[j].duration.text = route.legs[j].duration.text + ', rate: low';
                //make new element with colour

            }

            else if(congestNum>30 && congestNum <80)
            {
                route.legs[j].duration.text = route.legs[j].duration.text + ', rate: medium';
            }

            else
            {
                route.legs[j].duration.text = route.legs[j].duration.text + ', rate: high';
            }



            arrival_time = route.legs[j].arrival_time.text;

            console.log(arrival_time);
          }
          // console.log(response.departure_time);
        }
      }


      //outside the for
      //
      // if(congestNum<30)
      // {
      //   var el = document.getElementById('formWrapper'),
      //   // Make a new div
      //   elChild = document.createElement('div');
      //
      //   // Give the new div some content
      //   elChild.innerHTML = 'Blue';
      //
      //   // Jug it into the parent element
      //   el.appendChild(elChild);
      // }
      //
      // else if(congestNum>30 && congestNum <80)
      // {
      //   var el = document.getElementById('formWrapper'),
      //   // Make a new div
      //   elChild = document.createElement('div');
      //
      //   // Give the new div some content
      //   elChild.innerHTML = 'Yellow';
      //
      //   // Jug it into the parent element
      //   el.appendChild(elChild);
      // }
      //
      // else {
      //   var el = document.getElementById('formWrapper'),
      //   // Make a new div
      //   elChild = document.createElement('div');
      //
      //   // Give the new div some content
      //   elChild.innerHTML = 'Red';
      //
      //   // Jug it into the parent element
      //   el.appendChild(elChild);
      // }
      //



      //put congestion
      directionsDisplay.setDirections(response);
      // console.log(response)

      //call the traversing thing
      // use .then to make it execute after the setDirections one

      }
  });
}

  function retrieveCongestion(response) {

  }


//removing some unnecessary elements
//// TODO:
// function removeElement(element) {
//      element.parentNode.removeChild(element);
// }
//
// removeElement(document.getElementsByClassName('warnbox-content'));


    </script>
    <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOcZOEW2Q07uQmpCDj4VCBanEW1yJerBM&libraries=places"></script> -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOcZOEW2Q07uQmpCDj4VCBanEW1yJerBM&callback=initMap"
    async defer></script>
  </body>
</html>
Chat Conversation End
Type a message...
